<%= render "home/head" %>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-4">Sobre o CronoMED</h1>
                    <p class="lead">
                        Este sistema foi concebido com o objetivo de reduzir a carga administrativa dos gestores, oferecendo uma plataforma eficiente para a alocação de profissionais de saúde. Entre as principais funcionalidades, destacam-se a criação de escalas personalizadas, notificações automáticas de plantões, visualização em tempo real da disponibilidade dos médicos, e a capacidade de gerenciar trocas de plantão de forma ágil e segura.
                    </p>
                    <p class="lead">
                        Além disso, o GPM é flexível e adaptável às necessidades específicas de cada instituição, suportando desde pequenos consultórios até grandes hospitais. Com a integração de tecnologias modernas e uma forte ênfase na usabilidade, o GPM se posiciona como uma ferramenta indispensável para qualquer organização que busca melhorar a eficiência operacional e garantir um atendimento de alta qualidade.
                    </p>
                    <p class="lead">
                        Nosso compromisso é fornecer uma experiência de gerenciamento sem complicações, permitindo que os profissionais de saúde possam focar no que realmente importa: cuidar dos pacientes.
                    </p>
                    <hr>
                    <p class="text-center text-muted">
                        Desenvolvido por Alefy Almeida
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
