<%= render "home/head" %>
<% if @escala.id_medico_adm != current_user.id %> 
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="text-center">Você não tem privilégios para editar esta escala</h1>
    
  </div>
  <div class="text-center">
  <p>Se for um erro contate do admistrados do sistema em Fale Conosco.</p>
<% else %>

<%= render "form", escala: @escala %>



<% end %>
<br>

