<%= render "home/head" %>
<p style="color: green"><%= notice %></p>

<% start_date = @escala.mes_ref.to_date %>
<%= month_calendar start_date: start_date, month: start_date do |date| %>
  <%= date.strftime('%d') %>
<% end %>
